.git/
.github/
.vscode/
bin/
.DS_Store
*.log
.editorconfig
.env
.eslintrc.js
.firebaserc
.hadolint.yaml
.prettierrc
.shellcheckrc
cloudbuild.yaml
firestore.indexes.json
firestore.rules
jest.config.js

**/secret
